@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import 'tailwindcss';

* {
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  margin: 0;

  font: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  background-image: url('https://pibig.info/uploads/posts/2022-10/1666842420_1-pibig-info-p-neitralnii-fon-dlya-teksta-pinterest-1.jpg');
}
